@import 'assets/css/variables';

body {
    background: #fff;
}

.login-container {
    & > header {
        height: 230px;
        background: url(login_logo.png) no-repeat center,
                    radial-gradient(circle farthest-corner, #4a463a, #343434 500px);
        border-bottom: 2px solid $brand-success;
    }

    & > .login-form {
        margin: 0 auto;
        width: 340px;
        padding-top: 35px;

        .login-form-button {
            width: 100%;
        }

        .login-form-button,
        .login-form-input {
            height: 40px;
        }

        .error-msg {
            color: #f04134;
            position: relative;
            top: -6px;
        }
    }

    & > .email-address {
        color: #bdbdbd;
        margin: 12px 0;
        text-align: center;
        padding: 0;
        font-size: 12px;
        line-height: 14px;
    }
}
