@import 'assets/css/variables';

.header-component {
    background: #fff;
    line-height: $header-height - 20px;
    height: $header-height;
    text-align: center;
    font-size: 14px;
    padding: 10px $content-padding-width 9px;
    border-bottom: 1px solid $border-color;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;

    & > .ant-dropdown-link {
        color: #333;
        position: absolute;
        right: $content-padding-width;
    }

    .header-username {
        position: absolute;
        left: 50%;
    }
}
