@import 'assets/css/variables';

.sidebar-component {
    width: $sidebar-width;
    background: $sidebar-background;
    position: fixed;
    overflow: auto;
    padding-bottom: 24px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;

    & > .site-logo {
        height: $header-height;
        background: url(~assets/images/logo.png) no-repeat center;
        background-size: 160px;
    }
}
