@import 'assets/css/variables';

.app-component {
    position: relative;
    min-height: 100%;
    min-width: 960px;

    & > .layout-main {
        position: relative;
        margin-left: $sidebar-width;
        padding-top: $header-height;

        & > .main-content {
            margin: 28px 15px 0;
            border-radius: 4px;
            background: #fff;
            padding: $content-padding-width;
        }
    }
}

.filter-container {
    padding-bottom: 20px;
    display: flex;

    & > div:first-child {
        flex-grow: 1;
    }
}

form .vfield {
    padding-right: 24px;
}

